<div class="max-w-3xl mx-auto bg-white p-8 rounded-xl border border-gray-200 shadow-sm">
  <h1 class="text-2xl font-bold mb-6 italic border-b pb-4">Add New Car for Sale</h1>
  <%= render "form", car: @car %>
</div>